.news-partner {
  background: #000000;
}

.news-partner__item {
  background: #E5E5E5;
  padding: 70px 50px 88px 50px;
}

.container-news {
  max-width: 1500px;
  width: 100%;
  padding-left: 45px;
  padding-right: 15px;
  margin: 0 auto;
}

.news-partner__title {
  h2 {
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 52px;
	color: #000000;
  }
}