.date-news {
  background: #000000;
  padding-bottom: 25px;

  hr {
	height: 10px;
	right: 260px;
	top: 315px;
	background: #746859;
    border: none;
  }
}

.date-title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  color: #746859;
  margin-bottom: 20px;
}