.text-detail {
  background: #000000;
  padding-bottom: 148px;
}

.detail-card__line {

  height: 8px;
  background: #746859;
  border: none;
  margin-bottom: 25px;
}

.text-detail__desc-item {
  width: 325px;
  margin-right: 46px;
  padding-top: 14px;
}

.text-detail__card {

  max-width: 325px;
  margin-right: 46px;
  padding-top: 14px;

  p {
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 24px !important;
	line-height: 30px !important;
	color: #FFFFFF !important;
	max-width: 323px !important;
  }
}

.text-detail__desc {
  display: flex;
  margin-bottom: 34px;

  p {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 33px;
	color: #ABB2B8;
	max-width: 897px;
  }
}

.text-detail__card-item {
  display: flex;

  p {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 33px;
	color: #ABB2B8;
	max-width: 897px;
  }
}

@media screen and (max-width: 1430px) {
  .text-detail__item {
	display: block;
  }
  .text-detail__card {
	margin-bottom: 30px;
	margin-right: 0 !important;
  }
  .text-detail__card-item {
	display: block;

	p {
	  max-width: 100% !important;
	}
  }
  .text-detail__desc {
	display: block;

	p {
	  max-width: 100% !important;
	}
  }
  .text-detail__desc-item {
	display: none;
  }
}

@media screen and (max-width: 500px) {
  .detail-card__line {
	max-width: 100% !important;
  }
  .text-detail__card {
	max-width: 100% !important;

	p {
	  max-width: 100% !important;
	}

  }
}