.result {
  background: #E6C783;
  min-height: 450px;
  display: flex;
  align-items: center;
}

.result-text {
  p {
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 38px;
	color: #000000;
  }
}