.our-mission {
    padding-top: 115px;
    padding-bottom: 93px;
    background-color: #000000;
    border-bottom: 1px solid #cca94b;
}
.our-mission__container {
    width: 100%;
}
.our-mission__group {
    align-items: center;
    justify-content: space-between;
}
.our-mission__title {
    h3 {
        color: #e6c789;
    }
}
.our-mission__desc-vn {
    width: 100%;
    max-width: 565px;
    margin-top: 30px;
    p {
        font-size: 18px;
        line-height: 25px;
        color: #adadba;
        margin-bottom: 30px;
        margin-top: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.our-mission__link {
    margin-top: 40px;
    a {
        position: relative;
        font-size: 18px;
        line-height: 25px;
        color: #e6c783;
        &::after {
            content: url(../img/sprites/sprite.svg#arrow-right-gold);
            display: inline-block;
            position: absolute;
            top: 3px;
            right: -33px;
            width: 21px;
            background-repeat: no-repeat;
        }
    }
}
.our-mission__img {
    img {
        width: 100%;
        max-height: 430px;
    }
}
.our-mission__scroll-block {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: 145px;
    &:hover {
        .our-mission__notice {
            color: #e6c783;
            transition: 0.5s;
        }
        .our-mission__scroll-text {
            color: #505050;
            transition: 0.5s;
        }
    }
}
.our-mission__scroll-lines {
    overflow: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0;
    }
}
.our-mission__scroll-line {
    width: max-content;
}
.our-mission__scroll-text {
    font-weight: 300;
    font-size: 100px;
    line-height: 88px;
    color: #1e1e1e;
    transition: 0.5s;
}
.our-mission__notice {
    color: rgba(129, 111, 73, 0.8);
    transition: 0.5s;
}

@media screen and (max-width: 1024px) {
    .our-mission__scroll-text {
        font-size: 75px;
        line-height: 70px;
    }
}

@media screen and (max-width: 991px) {
    .our-mission__group {
        flex-direction: column-reverse;
    }
    .our-mission__desc-vn {
        max-width: 100%;
    }
    .our-mission__desc {
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .our-mission__img img {
        max-height: 100%;
    }
    .our-mission__scroll-text {
        font-size: 60px;
        line-height: 55px;
    }
    .our-mission__scroll-block {
        margin-top: 100px;
    }
}

@media screen and (max-width: 480px) {
    .our-mission__scroll-text {
        font-size: 55px;
        line-height: 50px;
    }
}

@media screen and (max-width: 440px) {
    .our-mission {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .our-mission__desc {
        margin-top: 25px;
    }
    .our-mission__desc-vn {
        margin-top: 20px;
        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .our-mission__link {
        margin-top: 30px;
    }
    .our-mission__scroll-text {
        font-size: 45px;
        line-height: 40px;
    }
}

@media screen and (max-width: 345px) {
    .our-mission__desc-vn {
        margin-top: 15px;
        p {
            font-size: 14px;
            margin-bottom: 15px;
            line-height: 23px;
        }
    }
    .our-mission__link {
        margin-top: 25px;
        a {
            font-size: 16px;
            &::after {
                right: -25px;
                width: 18px;
            }
        }
    }
    .our-mission__scroll-text {
        font-size: 40px;
        line-height: 35px;
    }
    .our-mission__scroll-block {
        margin-top: 60px;
    }
}