.heading {
  background: #000000;
  padding-bottom: 49px;
}

.heading-title {

  h2 {
	font-style: normal;
	font-weight: 300;
	font-size: 65px;
	line-height: 75px;
	color: #E6C783;
  }
}

.heading-items {
  display: flex;
  justify-content: space-between;
}

.heading-items__text {
  width: 50%;

  p {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
	color: #FFFFFF;

  }
}

.heading-items__text-small {
  display: flex;
  align-items: flex-end;
  width: 50%;
  padding-left: 42px;

  p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #ADADBA;
  }
}

@media screen and (max-width: 600px) {
  .heading-items {
	display: block;
  }
  .heading-title {
	h2 {
	  font-size: 55px !important;
	}
  }

  .heading-items__text {
	width: 100%;
	margin-bottom: 20px;

	p {
	  font-size: 18px !important;
	  line-height: 30px !important;
	}
  }
  .heading-items__text-small {
	width: 100%;
	padding-left: 0;
  }


}