.main-banner {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: #000000;
    overflow: hidden;
    justify-content: space-between;
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: calc(100vh - 126px);
        background: url(../img/banner-bg.jpg) no-repeat;
        background-size: cover;
    }
    iframe {
        width: 100%;
    }
    .video-modal-content {
        width: 100%;
        pointer-events: auto;
    }
    .close {
        float: right;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        color: #e6c783;
        text-shadow: 0 1px 0 #e6c783;
        opacity: .5;
        outline: none;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
    .s-modal {
        margin-top: 120px;
    }
}
.modal-open .scroll-container {
    transform: unset!important;
    transition: unset!important;
}
.main-banner__container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1335px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main-banner__group {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.main-banner__desc h3 {
    font-weight: 300;
    font-size: 65px;
    line-height: 75px;
    color: #fff;
}
.main-banner__btn {
    margin-top: 41px;
}
.main-banner__play-btn {
    margin-top: 46px;
    img {
        width: 39px;
        padding-left: 5px;
    }
    .play-btn {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        background: rgba(244, 214, 105, 0.17);
        border: 2px solid #e6c783;
        border-radius: 100px;
        cursor: pointer;

        &:hover {
            background: rgba(0, 0, 0, 0);
        }
    }
}
.main-banner__cards-container {
    display: flex;
    width: 100%;
    max-width: 1460px;
    background: #e6c783;
    padding-top: 31px;
    padding-bottom: 48px;
}
.main-banner__cards {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}
.main-banner__card {
    flex: 1;
    padding-left: 47px;
    h3 {
        font-weight: 300;
        font-size: 36px;
        line-height: 52px;
        color: #000000;
    }
    p {
        max-width: 352px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #3e3e3e;
        margin-top: 22px;
        padding-left: 50px;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.main-banner__card__link {
    img {
        width: 34px;
    }
    text-align: right;
    padding-right: 85px;
}
.main-banner__animation {
    position: relative;
    z-index: 2;
}
.modal-video iframe {
    border: none;
}

@media screen and (max-width: 1920px) and (min-width: 1141px) {
    .main-banner__desc h3 {
        font-size: 60px;
        line-height: 70px;
    }
    .main-banner__btn {
        margin-top: 35px;
    }
    .main-banner__group {
        padding-top: 40px;
    }
    .animation-letter, .animation-space {
        font-size: 230px;
        line-height: 250px;
    }
}

@media screen and (max-width: 1460px) {
    .main-banner {
        min-height: calc(100vh - 99.02px);
    }
}

@media screen and (max-width: 1140px) and (min-width: 991px) {
    .animation-letter, .animation-space {
        font-size: 170px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1080px) {
    .main-banner__card__link {
        padding-right: 30px;
    }
    .main-banner__card p {
        padding-left: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .main-banner {
        min-height: calc(100vh - 90px);
    }
}

@media screen and (max-width: 991px) {
    .main-banner__card__link {
        margin-top: 14px;
    }
    .main-banner::before {
        height: 100%;
        background-position-x: left;
    }
}

@media screen and (max-width: 800px) {
    .main-banner__card {
        padding: 0 15px;
    }
    .main-banner {
        min-height: calc(100vh - 74px);
    }
}

@media screen and (max-width: 700px) and (min-width: 481px) {
    .main-banner__play-btn {
        .play-btn {
            width: 80px;
            height: 80px;
        }
        img {
            width: 28px;
        }
    }
    .main-banner__desc h3 {
        font-size: 45px;
        line-height: 50px;
    }
}

@media screen and (max-width: 650px) {
    .main-banner__card h3 {
        font-size: 26px;
        line-height: 30px;
    }
    .main-banner__card p {
        padding-left: 10px;
        font-size: 16px;
    }
    .main-banner__card__link {
        padding-right: 10px;
    }
    .main-banner__cards-container {
        padding-bottom: 31px;
    }
}
@media screen and (max-width: 480px) {
    .main-banner__play-btn {
        margin-top: 22px;
        .play-btn {
            width: 60px;
            height: 60px;
        }
        img {
            width: 22px;
        }
    }
    .main-banner__desc h3 {
        font-size: 32px;
        line-height: 35px;
    }
    .main-banner__group {
        padding-top: 30px;
    }
    .main-banner__cards-container {
        display: block;
    }
    .main-banner__card {
        margin-top: 15px;
        &:first-child {
            margin-top: 0;
        }
        p {
            padding-left: 20px;
            max-width: 100%;
        }
    }
    .main-banner__btn {
        margin-top: 25px;
    }
    .main-banner__animation {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .main-banner .s-modal {
        margin-top: 70px;
    }
}

@media screen and (max-width: 375px) {
    .main-banner__group {
        padding-top: 25px;
    }
    .animation-letter, .animation-space {
        font-size: 55px;
    }
}

@media screen and (max-width: 345px) {
    .main-banner__desc h3 {
        font-size: 27px;
        line-height: 35px;
    }
    .main-banner__play-btn {
        margin-top: 27px;
    }
    .main-banner__card {
        h3 {
            font-size: 22px;
            line-height: 24px;
        }
        p {
            margin-top: 15px;
            margin-bottom: 10px;
            font-size: 14px;
            padding-left: 15px;
        }
    }
    .main-banner__cards-container {
        padding-bottom: 30px;
    }
}