<!DOCTYPE html>
<html lang="ru">
    @@include("../blocks/modules/head/head.html")
    <body>
        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/main/main-banner/main-banner.html")
        @@include("../blocks/modules/main/our-mission/our-mission.html")
        @@include("../blocks/modules/main/types-work/types-work.html")
        @@include("../blocks/modules/main/stages-work/stages-work.html")
        @@include("../blocks/modules/main/work-examples/work-examples.html")
        @@include("../blocks/modules/main/video-and-articles/video-and-articles.html")
        @@include("../blocks/modules/main/contact-form/contact-form.html")
        @@include("../blocks/modules/main/documents/documents.html")
        @@include("../blocks/modules/footer/footer.html")
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO-sfL9s1XYjgg2iqLm75fWiNvWz6XUL0" defer></script>
    </body>
</html>
