<!DOCTYPE html>
<html lang="ru">
@@include("../blocks/modules/head/head.html")
<body>
@@include("../blocks/modules/header/header.html")
@@include("../blocks/modules/news-detail/breadcrumb/breadcrumb.html")
@@include("../blocks/modules/news-detail/heading/heading-detail.html")
@@include("../blocks/modules/news-detail/news-views/news-views.html")
@@include("../blocks/modules/news-detail/detail-img/detail-img.html")
@@include("../blocks/modules/news-detail/news-detail__text/detail-text.html")
@@include("../blocks/modules/news-detail/news-detail__slider/detail-slider.html")
@@include("../blocks/modules/news-detail/text-detail/text-title.html")
@@include("../blocks/modules/news-detail/news-link/news-link.html")
@@include("../blocks/modules/footer/footer.html")
<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO-sfL9s1XYjgg2iqLm75fWiNvWz6XUL0" defer></script>
</body>
</html>
