.news-cards {
  background: #000000;
  padding-bottom: 72px;


  img {
	max-width: 100%;
  }
}

.news-card__item {
  margin: 0 -15px 10px -15px;
  display: flex;
  flex-wrap: wrap;

}

.news-card {
  width: calc(100% / 3 - 15px);
  padding: 12px 8px 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 7.5px 20px 7.5px;

  &:hover {
	background: #E6C783;
  }

  &:hover {
	a {
	  color: #000000;
	}
  }

  &:hover p {
	color: #000000;
  }

  &:hover .news-card__line {
	background: #000000;
  }

  &:hover .news-card__date {
	color: #000000;
  }
}

.news-link__svg-next {
  display: flex;
  justify-content: center;

  &:hover .news-link__svg-none {
	display: block;
  }

  &:hover svg {
	display: none;
  }
}

.news-link__svg-prev {
  display: flex;
  &:hover .news-link__svg-none {
	display: block;

  }

  &:hover svg {
	display: none;
  }
}

.news-link__svg-none {
  display: none;
}

.news-card__date {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #746859;

}

svg {
  &:hover {
	fill: #111;
  }
}

.news-card__line {
  max-width: 428px;
  height: 8px;
  background: #746859;
  border: none;
  margin-bottom: 27px;
  margin-top: 10px;
}

.news-card__title {
  margin-bottom: 20px;

  p {
	max-width: 99%;
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
	color: #FFFFFF;

	a {
	  color: #746859;
	  border-bottom: 1px solid #746859;
	}
  }
}

.news-card__desc {
  margin-bottom: 50px;

  p {
	max-width: 99%;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #ABB2B8;
  }
}

.news-card__navigation {
  text-align: center;
  display: flex;
  justify-content: center;

  .active {
	color: #ffffff !important;
  }

  a {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.34);
	margin-left: 20px;
  }
}

@media screen and (max-width: 1170px) {
  .news-card__title p {
	font-size: 22px !important;
	line-height: 22px !important;
  }
  .news-card__desc p {
	font-size: 15px !important;
	line-height: 23px !important;
  }
}

@media screen and (max-width: 1000px) {
  .news-card {
	width: calc(100% / 2 - 15px);
  }
}

@media screen and (max-width: 767px) {
  .news-card {
	width: calc(100% - 15px);

	img {
	  width: 100% !important;
	}
  }
  .news-card__line {
	max-width: 100% !important;
  }
}

@media screen and (max-width: 400px) {
  .news-card__navigation a {
	margin-left: 6px !important;
  }
}
