.footer {
    position: relative;
    min-height: 100vh;
}
.footer-section {
    background: #000000;
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
}
.footer__wrapper {
    width: 100%;
    max-width: 1425px;
}
.footer__wrapper-group {
    display: flex;
}
.footer__map {
    position: relative;
    z-index: 5;
    margin-right: 72px;
    width: 100%;
    max-width: 905px;
    min-height: 810px;
    background-color: #1b1c1c;
}
.footer__content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 444px;
}
.footer__content-title {
    h3 {
        font-weight: 300;
        font-size: 36px;
        line-height: 52px;
        color: #e6c783;
    }
}
.footer__item-sub-title {
    p {
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #605f6c;
        opacity: 0.7;
    }
}
.footer__item-hr {
    height: 8px;
    background: #605f6c;
    margin-top: 9px;
    border: none;
}
.footer__item-number {
    margin-top: 37px;
    a {
        font-weight: 300;
        font-size: 36px;
        line-height: 52px;
        color: #ffffff;
    }
}
.footer__item-address {
    margin-top: 30px;
    p {
        font-size: 18px;
        line-height: 25px;
        color: #adadba;
    }
}
.footer__item-email {
    margin-top: 9px;
    a {
        font-size: 18px;
        line-height: 25px;
        color: #e6c783;
    }
}
.footer__content-item {
    &:not(:first-child) {
        margin-top: 82px;
    }
}
.footer__content-items {
    margin-top: 47px;
}
.footer__bottom-block-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1920px;
    margin-top: 80px;
}
.footer__up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 2px solid #605f6c;
    border-radius: 50%;
    transition: 0.3s;
    svg {
        width: 15px;
        margin-top: -3px;
        margin-left: 3px;
    }
    &:hover {
        border-color: #e6c783;
        cursor: pointer;
        transition: 0.3s;
        svg path {
            fill: #e6c783;
            transition: 0.3s;
        }
    }
}
.footer__up-button-container {
    position: absolute;
    right: 80px;
}
.footer__bottom-block {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1425px;
    min-height: 143px;
}
.footer__bottom-block-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer__copyright {
    width: 100%;
    max-width: 444px;
    text-align: left;
    p {
        font-size: 18px;
        line-height: 25px;
        color: #605f6c;
        opacity: 0.7;
    }
}
.footer__social-link {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 905px;
    margin-right: 72px;
    img {
        height: 27px;
    }
    ul {
        display: flex;
        align-items: center;
        margin: 0;
        list-style: none;
    }
    li {
        margin-right: 40px;
        &:nth-child(2) {
            img {
                height: 22px;
            }
        }
    }
}
.footer__content-group {
    position: relative;
    z-index: 5;
}



@media screen and (max-width: 1510px) {
    .footer__up-button-container {
        top: -60px;
        right: 30px;
    }
}

@media screen and (max-width: 991px) {
    .footer__wrapper-group {
        flex-direction: column;
    }
    .footer__map {
        margin-right: 0;
        max-width: 100%;
    }
    .footer-container {
        max-width: 100%;
        padding: 60px 15px 0 15px;
    }
    .footer__content {
        max-width: 100%;
        margin-top: 30px;
    }
    .footer__content-group {
        width: 100%;
    }
    .footer__content-items {
        display: flex;
        justify-content: space-around;
    }
    .footer__content-item:not(:first-child) {
        margin-top: 0;
    }
    .footer__bottom-block {
        position: relative;
        margin-top: 90px;
        min-height: 100px;
    }
    .footer__social-link {
        max-width: 100%;
        margin-right: 0;
    }
    .footer__copyright {
        max-width: 100%;
        text-align: center;
    }
    .footer__copyright p {
        text-align: center;
    }
    .footer__social-link li:last-child {
        margin-right: 0;
    }
    .footer__bottom-block-container {
        position: relative;
    }
    .footer__up-button-container {
        top: 20px;
    }
    .footer__up-btn {
        width: 60px;
        height: 60px;
    }
    .footer__up-btn svg {
        width: 13px;
        margin-left: 0;
    }
    #particles-js__footer {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media screen and (max-width: 850px) {
    .footer__content-items {
        flex-direction: column;
        margin-top: 0;
    }
    .footer__content-item {
        margin-top: 35px;
        &:not(:first-child) {
            margin-top: 47px;
        }
    }
    .footer__bottom-block-group {
        display: block;
    }
    .footer__copyright {
        margin-top: 20px;
    }
    .footer__bottom-block {
        margin-top: 130px;
    }
}

@media screen and (max-width: 740px) {
    .footer__map {
        min-height: 500px;
    }
}

@media screen and (max-width: 480px) {
    .footer__item-number a {
        font-size: 24px;
        line-height: 30px;
    }
    .footer__item-address p, .footer__item-email a {
        font-size: 16px;
        line-height: 24px;
    }
    .footer__item-hr {
        margin-top: 5px;
    }
    .footer__item-number {
        margin-top: 25px;
    }
    .footer__item-address {
        margin-top: 20px;
    }
    .footer__content-title h3 {
        font-size: 26px;
        line-height: 30px;
    }
    .footer__social-link li {
        margin-right: 0;
    }
    .footer__copyright p {
        font-size: 14px;
        line-height: 22px;
    }
    .footer__social-link ul {
        justify-content: space-between;
        width: 100%;
    }
    .footer__bottom-block {
        padding-bottom: 15px;
    }
    .footer__up-button-container {
        top: 40px;
        right: calc(50% - 30px);
    }
    .footer__bottom-block-container {
        margin-top: 40px;
    }
}

@media screen and (max-width: 440px) {
    .footer__map {
        min-height: 350px;
    }
}

@media screen and (max-width: 345px) {
    .footer__content-title h3 {
        font-size: 24px;
    }
    .footer__item-number a {
        font-size: 22px;
        line-height: 26px;
    }
    .footer__item-address p, .footer__item-email a {
        font-size: 14px;
        line-height: 22px;
    }
    .footer__item-sub-title p {
        font-size: 16px;
        line-height: 24px;
    }
    .footer__content-item {
        margin-top: 30px;
        &:not(:first-child) {
            margin-top: 40px;
        }
    }
    .footer__item-hr {
        height: 5px;
    }
    .footer__up-btn {
        width: 50px;
        height: 50px;
    }
    .footer__up-btn svg {
        width: 10px;
    }
}