h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1430px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.ws-no-wrap {
    white-space: nowrap;
}